/* 🔽 Define as cores do site inteiro aqui como var, ficando facil chamar uma cor em qualquer parte do site 🔽 */

:root {
}

h1{
	font-size: 3.2rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.6rem;
}

p{
	font-size: 1.6rem;
}

span{
	font-size: 1.6rem;
}

/* 🔽 formatando o body 🔽 */

html,
body {
	font-family: 'Baloo Tammudu 2', cursive; /* Fonte importada no head do html */
	margin: 0;
	padding: 0;
	font-size: 10px;
}

/* 🔽 Formatando o tamanho de todos elementos do site para ficar igual o tamanho da borda 🔽 */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

*::selection{
	color: white;
	background-color: crimson;
}

/* 🔽 Inicio de estilização geral 🔽 */

.trans{
	transition: 200ms ease;
}


/* ///////////////////////////////////////// */
/* ///🔽 INICIO ESTILIZAÇÃO DO NAVBAR 🔽/// */
/* ///////////////////////////////////////// */

.menu{
	display: flex;
	height: 60px;
	width: 100vw;
	background-color: crimson;
	padding: 0 20%;
}

.menu__logo{
	display: inline-block;
	position: relative;
	background: url("/img/IconeCovid.svg") center no-repeat,linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%) center no-repeat;
	background-size: auto 50px,auto 60px;
	width: 75px;
	height: 100%;
	margin-right: 3rem;
}

.menu__ul{
	display: flex;
}

.menu__ul ul{
	list-style: none;
	display: flex;
  flex-flow: row nowrap;
	height: 100%;
}

.menu__ul ul li{
	margin: auto 1rem;
	line-height: 2rem;
}

.menu__ul ul a{
	display: flex;
	text-decoration: none;
	color: black;
}

.menu__ul ul a:hover{
	background-color: white;
}

.menu__ul ul li p{
	font-size: 2rem;
	transform: translateY(0.5rem);
	text-transform: uppercase;

}

/* ///////////////////////////////////////// */
/* ////🔼 FIM ESTILIZAÇÃO DO NAVBAR 🔼///// */
/* ///////////////////////////////////////// */





/* ///////////////////////////////////////// */
/* ///🔽 INICIO ESTILIZAÇÃO DO CONTAINER 🔽/// */
/* ///////////////////////////////////////// */

