/* 反 Define as cores do site inteiro aqui como var, ficando facil chamar uma cor em qualquer parte do site 反 */

:root {
}

h1{
	font-size: 3.2rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.6rem;
}

p{
	font-size: 1.6rem;
}

span{
	font-size: 1.6rem;
}

/* 反 formatando o body 反 */

html,
body {
	font-family: 'Baloo Tammudu 2', cursive; /* Fonte importada no head do html */
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: whitesmoke;
	text-align: center;
}

/* 反 Formatando o tamanho de todos elementos do site para ficar igual o tamanho da borda 反 */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

*::selection{
	color: white;
	background-color: crimson;
}

/* 反 Inicio de estilizaﾃｧﾃ｣o geral 反 */

.trans{
	transition: 200ms ease;
}

.relative{
	position: relative;
}


/* ///////////////////////////////////////// */
/* ///反 INICIO ESTILIZAﾃﾃグ DO NAVBAR 反/// */
/* ///////////////////////////////////////// */

.menu{
	position: fixed;
	display: flex;
	z-index: 999;
	height: 60px;
	width: 100vw;
	background-color: crimson;
	padding: 0 20%;
}

.menu__logo{
	display: inline-block;
	background: url("/img/IconeCovid.svg") center no-repeat,linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%) center no-repeat;
	background-size: auto 50px,auto 60px;
	width: 75px;
	height: 100%;
	margin-right: 3rem;
}

.menu__list{
	display: flex;
}

.menu__ul{
	list-style: none;
	display: flex;
  flex-flow: row nowrap;
	height: 100%;
}

.menu__list ul li{
	margin: auto 1rem;
	line-height: 2rem;
}

.menu__list ul a{
	display: flex;
	text-decoration: none;
	color: black;
}

.menu__list ul a:hover{
	background-color: white;
}

.menu__list ul li p{
	font-size: 2rem;
	transform: translateY(0.5rem);
	text-transform: uppercase;
}

/* ///////////////////////////////////////// */
/* ////半 FIM ESTILIZAﾃﾃグ DO NAVBAR 半///// */
/* ///////////////////////////////////////// */





/* ///////////////////////////////////////// */
/* ////半 INICIO ESTILIZAﾃﾃグ DO FOOTER 半///// */
/* ///////////////////////////////////////// */

.footer{
	height: 300px;
	background-color: crimson;
	margin-top: -100px;
	display: flex;
}

.footer__list{
	margin: auto;
	padding: 4rem;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.footer__list .menu__ul p{
	transform:translateY(0.3rem)
}

.footer__list a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 900;
	line-height: 2rem;
	padding: 3px 1rem;
	margin: 0px 0.25rem;
}

.footer__list a:hover{
	color: black;
	background-color: white;
	border-radius: 5px;
}

/* ///////////////////////////////////////// */
/* ////半 FIM ESTILIZAﾃﾃグ DO FOOTER 半///// */
/* ///////////////////////////////////////// */





/* ///////////////////////////////////////// */
/* ///反 INICIO ESTILIZAﾃﾃグ DO CONTAINER 反/// */
/* ///////////////////////////////////////// */

.barra{
	z-index: 0;
	padding-top: 60px;
}

.barra__img{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.container{
	top: -200px;
	height: 600px;
	padding: 0;
	margin: 0px 20%;
	background-color: white;
	border-radius: 2rem;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

