/* 反 Define as cores do site inteiro aqui como var, ficando facil chamar uma cor em qualquer parte do site 反 */
:root {
	--CorBackgroundBody: rgb(245, 245, 245);
	--CorShadowNavBar: rgba(0, 0, 0, 0.5);
	--CorShadowContainer: rgba(14, 36, 7, 0.2);
	--CorDeepskyblue50: rgba(0, 191, 255, 0.5);
	--CorTextoSemiPreto: rgb(55, 55, 55);
	--CorNavGradient1:darkred;
	--CorNavGradient2:red;
	--CorTextoCinza: rgb(31, 31, 31);
	--CorTextoClara: rgb(240, 240, 240);
	--CorBackgroundQuadro: rgb(255, 182, 182);
	--CorSubmenuHover: darkred;
	--CorBackgroundQuadroPos: rgb(212, 255, 212);
}


/* 反 formatando o body 反 */
html,
body {
	font-family: 'Baloo Tammudu 2', cursive; /* Fonte importada no head do html */
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--CorBackgroundBody);
}

html {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-items: flex-start;
}

/* 反 Formatando o tamanho de todos elementos do site para ficar igual o tamanho da borda 反 */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body *{
	font-size: 1rem;
}

h1{
	font-size: 1.5rem;
}

*::selection{
	color: white;
	background-color: crimson;
}

/* 反 Inicio de estilizaﾃｧﾃ｣o geral 反 */




/* ///////////////////////////////////////// */
/* ///反 INICIO ESTILIZAﾃﾃグ DO NAVBAR 反/// */
/* ///////////////////////////////////////// */



.navbar {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	box-shadow: 0px 0px 15px var(--CorShadowNavBar);
}
.navbar *, .navbar *::after, .navbar *::before{
	transition: all 300ms ease-in-out, max-height 250ms ease;
}
.navbar ul{
	list-style: none;
	position: relative;
	float: right;
	margin-right: 12%;
}
.navbar ul li{
	position: relative;
	float: left;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar > ul > li:last-child{
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar ul li a{
	padding: 20px 1vw;
	display: block;
	color: var(--CorTextoSemiPreto);
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar ul li:hover > a{
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
}
.navbar > ul > li::before{
	z-index: -1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: linear-gradient(0deg, var(--CorNavGradient1) 0%, var(--CorNavGradient2) 100%);
	opacity: 0%;
}
.navbar > ul > li:hover:before{
	opacity: 75%;
	pointer-events: none;
}
.navbar ul ul{
	visibility: hidden;
	display: block;
	position: absolute;
	top: 100%;
	transform: translateX(-1px);
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: max-content;
	background: white;
	max-height: 0%;
	overflow: hidden;
}
.navbar ul li:hover > ul{
	max-height: 300%;
	visibility: visible;
}
.navbar ul ul li{
	position: relative;
	float: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar ul ul li:hover{
	background: var(--CorSubmenuHover);
}
.navbar ul p{
	line-height: 100%;
	padding-top: 0.8ch;
}



/* ///////////////////////////////////////// */
/* ////半 FIM ESTILIZAﾃﾃグ DO NAVBAR 半///// */
/* ///////////////////////////////////////// */

/* ///////////////////////////////////////// */
/* ///反 INICIO ESTILIZAﾃﾃグ DO CONTAINER 反/// */
/* ///////////////////////////////////////// */



/* 反 essa class contem o conteudo 反 */
.container {
	margin-top: 150px;
	padding: 4rem;
	width: 80vw;
	min-height: calc(100vh - 450px); /* 550px = margin-top do container + height do footer */
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 5px 18px var(--CorShadowContainer);
}

.container-titulo{
	box-sizing: content-box;
	overflow: hidden;
	display: inline-block;
	height: 2.5em;
	padding: 0.3em 1em 0.3em 1em;
	vertical-align: middle;
	text-transform: uppercase;
	border-radius: 9999px;
	background: rgba(200, 0, 0, 1);
	box-shadow: 0px 2px 0.8em rgba(80, 80, 80, 0.5);
	cursor: pointer;
	color: var(--CorTextoClara);
	transition: all 300ms ease-in-out;
}

.container-titulo img{
	opacity: 85%;
	display: inline;
	height: 2.5em;
	vertical-align: middle;
	padding: 0px 0.5em 0px 0px;
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.3));
}

.container-titulo h1{
	display: inline-block;
	line-height: 0.5em;
	padding-top: 0.5em;/* fonte vem com um padding padrﾃ｣o, isso balanceia o padding dos 2 lados */
	vertical-align: middle;
	white-space: pre;
}

.container-quadro{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 4em 4em;
}

.quadro{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 2rem;
	height: 160px;
	width: 350px;
	border-radius: 8px;
	border: 1px solid darkgray;
	color: var(--CorTextoCinza);
	background-color: var(--CorBackgroundQuadro);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	padding: 1rem 0rem 1rem 2rem;
	justify-content: space-between;
}

.quadro-neutro{
	background-color: lightsteelblue;
}

.quadro-texto{
	display: inline;
	margin: auto auto;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.1em;
	line-height: 1em;
}

.quadro-linha1{
	margin-top: 0.5rem;
	padding-bottom: 10px;
	line-height: 1em;
}

.quadro-linha2{
	position: relative;
	font-size: 2.05em;
	padding-top: 0.2em;
	margin-bottom: -0.6rem;
	line-height: 1em;
}

.quadro-linha3{
	position: relative;
	top: -10px;
	font-size: 0.5em;
	line-height: 1em;
}

.quadro-positivo{
	background-color: var(--CorBackgroundQuadroPos);
}

.quadro-positivo .quadro-seta{
	color: var(--CorBackgroundQuadroPos);
	background-color: green;
}

#quadro3-2 .quadro-linha2{
	font-size: 1.25em;
}

.quadro-seta{
	margin: 0 2rem;
	display: flex;
	height: 80px;
	width: 80px;
	align-self: center;
	justify-content: center;
	background-color: crimson;
	border-radius: 9999px;
	color: var(--CorBackgroundQuadro);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	user-select: none;
}

.quadro-neutro .quadro-seta{
	color: lightsteelblue;
	background-color: navy;
}

.quadro-neutro .seta{
	line-height: 1.47em;
}

.lixo{
	margin-top: 5rem;
}

.seta{
	font-size: 5em;
	line-height: 1.55em;
	text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.container-conteudo-txt{
	display: flex;
	width: 100%;
	margin: 2rem auto 5rem auto;
	line-height: 1.25em;
	font-size: 1.25em;
	justify-content: space-evenly;
	flex-flow: row wrap;
}

.container-conteudo-txt.impct-geral p{
	padding: 1rem 0;
	text-align: center;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3),3px 3px 10px rgba(0, 0, 0, 0.3);
}

.container-conteudo-txt.texto-pandemia p{
	line-height: 2em;
	text-align: justify;
	text-indent: 2rem;
}

.container-conteudo-txt.texto-pandemia p::first-letter{
	font-size: 1.5em;
}

.container-conteudo-txt.impct-geral div{
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	padding: 2rem;
	width: 600px;
	flex: 0 0 auto;
	margin: 3rem 0;
}

.impct-positivo{
	border: 4px solid darkseagreen;
	background-color: var(--CorBackgroundQuadroPos);
}

.impct-negativo{
	border: 4px solid lightcoral;
	background-color: var(--CorBackgroundQuadro);
}

.container-conteudo-txt.texto-pandemia img{
	border: 1px solid crimson;
	border-radius: 8px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#SIN{
	padding: 1rem;
	display: inline-block;
	width: 500px;
}

#chart{
	padding: 1rem;
	width: 500px;
}

#energia-renovavel{
	padding: 1rem;
	width: 500px;
}

.container-conteudo-txt.texto-pandemia div{
	width: 100%;
	display: flex;
	align-items: center;
	margin: 2rem auto;
}

.texto-sin{
	display: inline-block;
	margin: auto 3rem;
	width: 60%;
}

/* ///////////////////////////////////////// */
/* ////半 FIM ESTILIZAﾃﾃグ DO CONTAINER 半///// */
/* ///////////////////////////////////////// */


/* 反 essa div ﾃｩ usada como espaﾃｧamento entre o corpo e footer e para centralizar 反*/
.footer {
	width: 80vw;
	position: relative;
	display: flex;
	height: 400px;
	align-items: center;
	justify-items: center;
}

/*反 essa div vai dentro da .footer, sendo centralizada e espaﾃｧada pela config do .footer 反*/
.footer-inner {
	position: relative;
	display: flex;
	padding: 0 6rem;
	width: 100%;
	height: 300px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 5px 18px var(--CorShadowContainer);
}

.footer-inner ul{
	list-style: square inside;
	margin: auto 0;
}

.footer-inner a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 1.25em;
	transition: all 300ms ease-in-out;
}

.footer-inner li{
	transition: all 300ms ease-in-out;
}

.footer-inner li:hover,.footer-inner li:hover a{
	color: crimson;
	text-shadow: 0px 0px 6px rgba(220, 20, 60, 0.5);
	text-decoration: underline;
}
