/* 🔽 Define as cores do site inteiro aqui como var, ficando facil chamar uma cor em qualquer parte do site 🔽 */
:root {
	--CorBackgroundBody: rgb(230, 230, 230);
	--CorShadowNavBar: rgba(0, 0, 0, 0.5);
	--CorShadowContainer: rgba(0, 0, 0, 0.2);
	--CorDeepskyblue50: rgba(0, 191, 255, 0.5);
}

/* 🔽 formatando o body 🔽 */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--CorBackgroundBody); /* Chamei a var CorBackgroundBody, que é rgb(240,240,240) */
}
html {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-items: flex-start;
}

/* 🔽 Formatando o tamanho das divs(todos elementos do site) para ficar igual o tamanho da borda 🔽 */
* {
	box-sizing: border-box;
}

/* 🔽 Inicio de estilização geral 🔽 */

/* 🔽 essa class contem o menu do topo */
.navbar {
	z-index: 1; /* ◀ z-index define se vai renderizar por tras ou pela frente */
	position: fixed; /* ◀ fixed define elemento fixo na viewport */
	display: flex; /* ◀ tecnologia flex, bom para trabalhar alinhamento */
	top: 0; /* ◀ posiciona o elemento a 0px do topo */
	left: 0; /* ◀ posiciona o elemento a 0px da esquerda */
	background-color: white;
	height: 75px;
	width: 100%;
	box-shadow: 0px 0px 5px var(--CorShadowNavBar);
}

/* 🔽 essa class contem o conteudo 🔽 */
.container {
	margin-top: 150px;
	min-height: calc(100vh - 450px);
	border-radius: 5px;
	border: 1px solid darkgray;
	background-color: white;
	box-shadow: 0px 0px 28px var(--CorShadowContainer);
}

/* 🔽 essa div é usada como espaçamento entre o corpo e footer e para centralizar 🔽*/
.footer {
	width: 80vw;
	position: relative;
	display: flex;
	height: 300px;
	align-items: center;
	justify-items: center;
}

/*🔽 essa div vai dentro da .footer, sendo centralizada e espaçada pela config do .footer 🔽*/
.footer-inner {
	width: 100%;
	position: relative;
	display: flex;
	height: 200px;
	background-color: white;
	border: 1px solid dimgray;
	border-radius: 5px;
	box-shadow: 0px 0px 28px var(--CorShadowContainer);
}
