/* 反 Define as cores do site inteiro aqui como var, ficando facil chamar uma cor em qualquer parte do site 反 */
:root {
	--CorBackgroundBody: rgb(245, 245, 245);
	--CorShadowNavBar: rgba(0, 0, 0, 0.5);
	--CorShadowContainer: rgba(14, 36, 7, 0.2);
	--CorDeepskyblue50: rgba(0, 191, 255, 0.5);
	--CorTextoSemiPreto: rgb(55, 55, 55);
	--CorNavGradient1:rgb(96, 146, 22);
	--CorNavGradient2:rgba(173,255,47,1);
	--CorTextoCinza: rgb(55, 55, 55);
}


/* 反 formatando o body 反 */
html,
body {
	font-family: 'Baloo Tammudu 2', cursive; /* Fonte importada no head do html */
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--CorBackgroundBody); /* Chamei a var CorBackgroundBody, que ﾃｩ rgb(240,240,240) */
}
html {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-items: flex-start;
}

/* 反 Formatando o tamanho de todos elementos do site para ficar igual o tamanho da borda 反 */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body *{
	font-size: 1rem; /* Define tamanho de font-size de todos elem. igual a font-size do <html> */
}
h1{
	font-size: 2rem; /* Define o tamanho de tﾃｭtulo h1 igual a 2x a font-size do <html> */
}


/* 反 Inicio de estilizaﾃｧﾃ｣o geral 反 */




/* ///////////////////////////////////////// */
/* ///反 INICIO ESTILIZAﾃﾃグ DO NAVBAR 反/// */
/* ///////////////////////////////////////// */



.navbar {
	z-index: 2; /* z-index define se vai renderizar por tras ou pela frente */
	position: fixed; /* fixed define elemento fixo na viewport */
	top: 0; /* posiciona o elemento a 0px do topo */
	left: 0; /* posiciona o elemento a 0px da esquerda */
	background-color: white;
	width: 100%; /* navbar fica com largura da tela, podemos trocar por 100vw tambﾃｩm */
	box-shadow: 0px 0px 15px var(--CorShadowNavBar); /* sombra */
}
.navbar *, .navbar *::after, .navbar *::before{
	/* aplica transiﾃｧﾃ｣o em todos elementos da navbar */
	transition: all 300ms ease-in-out, max-height 250ms ease;
}
.navbar ul{
	list-style: none;	/* Tira os pontos do inicio da lista */
	position: relative;
	float: right; /* flutua elementos ul para a direita */
	margin-right: 12%;	/* espaﾃｧamento a direita da tela */
}
.navbar ul li{
	position: relative;
	float: left; /* flutua elementos li dentro de elementos ul para a esquerda */
	border-left: 1px solid rgba(0, 0, 0, 0.2); /* borda preta */
}
.navbar > ul > li:last-child{
	/* aplica borda preta no lado direito do ultimo li dentro do primeiro li do primeiro ul */
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar ul li a{
	padding: 20px 1vw; /* define a largura dos botﾃｵes */
	display: block;
	color: var(--CorTextoSemiPreto); /* define a cor do texto */
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar ul li:hover > a{
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
.navbar > ul > li::before{
	/*
	usamos o pseudoelemento :before para criar um efeito de transiﾃｧﾃ｣o
	com o linear-gradient, que por padrﾃ｣o nﾃ｣o ﾃｩ uma opﾃｧﾃ｣o transicionavel
	por esse motivo usamos entﾃ｣o a transiﾃｧﾃ｣o na opacidade do elemento inteiro
	, foi decidido usar o :before porque ﾃｩ um elemento que pega a geometria do
	elemento real mas nﾃ｣o tem conteﾃｺdo (invisivel sem ter o linear-gradient aplicado)
	*/
	z-index: -1; /* posiciona o pseudoelemento atrﾃ｡s do texto */
	content: ""; /* define esse pseudoelemento como sem conteudo para deixar invisivel */
	display: block;
	position: absolute; /* necessﾃ｡rio usar absolute para pegar a geometria do elemento real */
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/* todas 4 opﾃｧﾃｵes de posicionamento acima diz para o renderizador onde deve ser
	a borda do pseudoelemento, entﾃ｣o a borda do pseudoelemento vai ser 0px a esquerda, topo,
	fundo e direita do elemento real */
	background: linear-gradient(0deg, var(--CorNavGradient1) 0%, var(--CorNavGradient2) 100%);
	opacity: 0%;
}
.navbar > ul > li:hover:before{
	/* muda as propriedades do pseudoelemento :before quando passar o mouse em cima */
	opacity: 75%;
	pointer-events: none;
}
.navbar ul ul{
	/* opﾃｧﾃｵes do submenu */
	visibility: hidden; /* deixa o submenu invisivel como estado inicial */
	display: block;
	position: absolute;
	top: 100%;
	transform: translateX(-1px);
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: max-content;
	/*
	半
	a largura vai ser o tamanho do maior elemento filho do submenu
	muda de tamanho ao mudar o texto do link (responsivo)
	*/
	background: white;
	max-height: 0%; /* submenu vai ter 0% de altura, estado inicial, vai pra 300% no hover */
	overflow: hidden;
}
.navbar ul li:hover > ul{
	/* max-height deve ser o (nﾂｺ de submenus * 100%)
	define a visibilidade e tamanho do submenu
	*/
	max-height: 300%;/* (3 submenus * 100%) = 300%, a transiﾃｧﾃ｣o vai de 0% a 300%*/
	visibility: visible;
}
.navbar ul ul li{
	/* estilizaﾃｧﾃ｣o dos elementos do submenu */
	position: relative;
	float: none;
	/* tirar o float deixa os elementos ficarem um acima do outro em vez de flutuar todos para um lado na mesma linha */
	border: none; /* reseta a borda */
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* agora setamos a borda bottom */
}
.navbar ul ul li:hover{
	/* quando passar o mouse nos elementos do submenu, vﾃ｣o pegar a cor verde */
	background: greenyellow;
}
.navbar ul p{
	/* ajustes do alinhamento de texto
	fonte que importamos do google tem um padding embutido
	cheguei a esse valor testando e usando o inspecionar elemento
	atﾃｩ aparentar estar centralizado verticalmente
	*/
	line-height: 100%;
	padding-top: 0.8ch;
}



/* ///////////////////////////////////////// */
/* ////半 FIM ESTILIZAﾃﾃグ DO NAVBAR 半///// */
/* ///////////////////////////////////////// */

/* ///////////////////////////////////////// */
/* ///反 INICIO ESTILIZAﾃﾃグ DO CONTAINER 反/// */
/* ///////////////////////////////////////// */



/* 反 essa class contem o conteudo 反 */
.container {
	margin-top: 150px;
	padding: 4rem;
	min-height: calc(100vh - 450px); /* 550px = margin-top do container + height do footer */
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 5px 18px var(--CorShadowContainer);
}

.container-titulo{
	box-sizing: content-box;
	overflow: hidden;
	display: inline-block;
	height: 2.5em;
	padding: 0.3em 1em 0.3em 1em;
	vertical-align: middle;
	text-transform: uppercase;
	border-radius: 9999px;
	/* background-color: lawngreen; */
	background-color: var(--CorBackgroundBody);
	box-shadow: 0px 2px 0.8em rgba(80, 80, 80, 0.5);
	transition: background-color 300ms ease;
	cursor: pointer;
	color: var(--CorTextoCinza);
}

.container-titulo:hover{
	background-color: lawngreen;
}

.container-titulo img{
	opacity: 85%;
	display: inline;
	height: 2.5em;
	vertical-align: middle;
	padding: 0px 0.5em 0px 0px;
}

.container-titulo h1{
	display: inline-block;
	line-height: 0.5em;
	padding-top: 0.5em;/* fonte vem com um padding padrﾃ｣o, isso balanceia o padding dos 2 lados */
	vertical-align: middle;
	white-space: pre; /* nﾃ｣o colapsa espaﾃｧos brancos em 1 */
}

.container-quadro{
	display: flex;
	margin: 4em 0;
}

.quadro{
	display: flex;
	height: 160px;
	width: 320px;
	border-radius: 8px;
	border: 1px solid darkgray;
	color: var(--CorTextoCinza);
	background-color: rgb(225, 202, 207);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 1rem 0rem 1rem 1rem;
	justify-items: center;
}

.quadro-texto{
	display: inline;
	margin: auto 0;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 1em;
}

.quadro-linha1{
	padding-top: 0.5em;
	margin-bottom: 0.5rem;
}
.quadro-linha2{
	font-size: 2.05em;
	padding-top: 0.5em;
}

.quadro-seta{
	margin: 0 auto;
	display: flex;
	height: 80px;
	width: 80px;
	align-self: center;
	justify-content: center;
	background-color: crimson;
	border-radius: 9999px;
	color: rgb(225, 202, 207);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.seta{
	font-size: 5em;
	line-height: 1.55em;
	text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.5);
}




/* ///////////////////////////////////////// */
/* ////半 FIM ESTILIZAﾃﾃグ DO CONTAINER 半///// */
/* ///////////////////////////////////////// */


/* 反 essa div ﾃｩ usada como espaﾃｧamento entre o corpo e footer e para centralizar 反*/
.footer {
	width: 80vw;
	position: relative;
	display: flex;
	height: 400px;
	align-items: center;
	justify-items: center;
}

/*反 essa div vai dentro da .footer, sendo centralizada e espaﾃｧada pela config do .footer 反*/
.footer-inner {
	position: relative;
	display: flex;
	padding: 3rem;
	width: 100%;
	height: 300px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 5px 18px var(--CorShadowContainer);
}
